PORT=3000
SYNC_MODE=poll
SYNC_API_KEY=

TWITTER_API_BASE_URL=https://api.x.com/2
TWITTER_BEARER_TOKEN=
TWITTER_USER_ID=
TWITTER_USERNAME=
TWITTER_CONSUMER_SECRET=
TWITTER_POLL_INTERVAL_MS=60000
TWITTER_SKIP_INITIAL_BACKFILL=true
TWITTER_POLL_RUN_IMMEDIATELY=true

BINANCE_BASE_URL=https://www.binance.com
BINANCE_COMPOSE_URL=https://www.binance.com/en/square/post
BINANCE_STORAGE_STATE_PATH=.data/binance-storage.json
BINANCE_HEADLESS=true
BINANCE_DRY_RUN=false
BINANCE_APPEND_SOURCE_LINK=true
BINANCE_MAX_POST_LENGTH=10000

STATE_FILE_PATH=.data/state.json
