GITHUB_PERSONAL_ACCESS_TOKEN=

GITLAB_PERSONAL_ACCESS_TOKEN=
GITLAB_API_URL=https://gitlab.com/api/v4

POSTGRES_URL=postgresql://user:password@localhost:5432/dbname

SLACK_BOT_TOKEN=
SLACK_TEAM_ID=
SLACK_CHANNEL_IDS=

NOTION_TOKEN=

ATLASSIAN_BASE_URL=https://your-domain.atlassian.net
ATLASSIAN_EMAIL=
ATLASSIAN_API_TOKEN=

LARK_APP_ID=
LARK_APP_SECRET=

WECOM_BOT_KEY=
